@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0 auto;
  padding: 0 auto;
  font-family: Inter;
  transition: 0.3s;
}
::-webkit-input-placeholder {
  font-size: 16px;
}
:-ms-input-placeholder {
  font-size: 16px;
}
::placeholder {
  font-size: 20px;
}

body {
  background-color: #141414;
  color: #ffffff;
}

/*header*/
.header_index {
  min-height: 940px;
  background-image: url(img/background_header.svg);
  display: flex;
  flex-direction: column;
}
.heading_text {
  margin-top: 100px;
  color: #ffffff;
  font-weight: bold;
  font-size: 130px;
}
.toolbar {
  margin-top: 56px;
}
.toolbar a {
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
  margin-right: 61px;
}
.toolbar a:hover {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #1c59bb 0%,
    #00f058 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: inline-block;
  font-size: 25px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.last {
  margin-right: 0px;
}

/*content*/
.content {
  margin-bottom: 200px;
}

/*home_discount_block*/
.home_discount_block {
  width: 100%;
  min-height: 442px;
  background: url(img/discount_block_back.svg);
  display: flex;
  flex-direction: column;
  text-align: center;
}
.discount7 {
  margin-top: 130px;
  font-weight: 100;
  font-size: 150px;
}
.discount_conditions {
  font-weight: 100;
  font-size: 40px;
  margin-top: 15px;
}
.home_discount_block span {
  margin-right: 22px;
  margin-top: 32px;
  font-size: 20px;
  font-weight: 100;
}
/*hello_block*/
.hello_block {
  min-height: 442px;
  width: 100%;
  background: url(img/hello_block_back.svg);
}
.hello_block h2 {
  color: #f26419;
  font-weight: bold;
  font-size: 48px;
  padding-top: 100px;
  margin-left: 460px;
}
.hello_block p {
  margin-top: 40px;
  margin-left: 460px;
  max-width: 565px;
  font-size: 25px;
  font-weight: 400;
  color: #86bbd8;
}

/*discount_cart_block*/
.discount_cart_block {
  width: 100%;
  min-height: 442px;
  background: url(img/discount_cart_back.svg);
  background-repeat: no-repeat;
  display: flex;
}
.discount_cart {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 32px;
  gap: 30px;
}
.use_cart_title {
  font-size: 40px;
  font-weight: bold;
  margin-left: 0px;
}

.discount_cart_img {
  margin-left: 0px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.discount_cart_img span {
  font-size: 200px;
  font-weight: bold;
  margin-top: 0px;
}
.more_benefit_title {
  font-size: 40px;
  font-weight: bold;
  margin-left: 0px;
  margin-top: 0px;
}
.discount_cart_btn {
  margin: auto;
}
.discount_cart_btn a {
  background-color: #86bbd8;
  text-decoration: none;
  border-radius: 10px;
  color: black;
  font-size: 50px;
  font-weight: bold;
  padding: 20px;
}
.discount_cart_btn a:hover {
  background-color: rgb(38, 38, 38);
  color: #86bbd8;
  transition: 0.3s;
}
/*preview_block*/
.preview_block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 736px;
  background: url(img/preview_block_back.svg);
}
.preview_cart_block {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preview_cart {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  max-width: 326px;
  color: #86bbd8;
  font-size: 22px;
  font-weight: bold;
  height: 460px;
  margin-left: 10px;
}
.preview_cart p {
  margin-top: 19px;
}

/*adventure_block*/
.adventure_block {
  height: 860px;
  display: flex;
  align-items: center;
}
.adventure_cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 461px;
  text-align: center;
  margin-top: 45px;
}
.adventure_cart h2 {
  margin-top: 19px;
  font-size: 50px;
  font-weight: 800;
}
.adventure_cart p {
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
}
.adventure_cart a {
  margin-top: 54px;
  width: 156px;
  background-color: #86bbd8;
  color: black;
  font-weight: 700;
  border-radius: 10px;
  font-size: 14px;
  padding: 11px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
.adventure_cart a:hover {
  background-color: rgb(38, 38, 38);
  color: #86bbd8;
  transition: 0.3s;
}

/*catalog*/
.content_catalog {
  margin-top: 100px;
  margin-bottom: 200px;
  display: flex;
  flex-wrap: wrap;
}
.cart_catalog {
  width: 394px;
  height: 496px;
  margin-right: 165px;
  margin-top: 100px;
}
.cart_catalog:hover {
  transform: scale(1.1);
}
.cart_catalog a {
  text-decoration: none;
  color: #ffffff;
}
.tires {
  background: url(img/tires_cart_back.svg);
}
.disk {
  background: url(img/disk_cart_back.svg);
}
.oil {
  background: url(img/oil_cart_back.svg);
}
.brake {
  background: url(img/brake_back.svg);
}
.battery {
  background: url(img/battery_back.svg);
}
.filter {
  background: url(img/filter_back.svg);
}
.cart_catalog img {
  margin-top: 37px;
  margin-left: 66px;
}
.cart_catalog p {
  text-align: center;
  margin-top: 63px;
  font-size: 36px;
  font-weight: bold;
}
.first {
  margin-left: 120px;
}

/*auth*/
.auth_block {
  width: 47%;
  min-height: 1100px;
  background-color: #222222;
  margin-top: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-bottom: 146px;
}
.auth_block p {
  font-size: 50px;
  font-weight: bold;
}

.input_text {
  min-height: 40px;
  width: 40%;
  background-color: #545454;
  font-size: 30px;
  border-radius: 10px;
  border: none;
}
.auth_btn {
  width: 40%;
  min-height: 40px;
  background-color: #86bbd8;
  color: black;
  font-size: 16px;
  font-weight: 00;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.auth_btn:hover {
  color: #86bbd8;
  background-color: rgb(38, 38, 38);
}
.auth_block {
  width: 58%;
  min-height: 100px;
}
.auth_block a {
  background-color: #86bbd8;
  color: black;
  font-size: 16px;
  font-weight: 400;
  border-radius: 10px;
  text-decoration: none;
  width: 40%;
  height: 30px;
  text-align: center;
  margin-bottom: 40px;
  padding-top: 10px;
}
.auth_block a:hover {
  color: #86bbd8;
  background-color: rgb(38, 38, 38);
}

/*registration*/
.registration_block {
  width: 47%;
  min-height: 900px;
  background-color: #222222;
  margin-top: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-bottom: 146px;
}
.registration_block p {
  font-size: 50px;
  font-weight: bold;
}
.input_text {
  min-height: 40px;
  width: 40%;
  background-color: #545454;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}

.registration_btn {
  width: 40%;
  min-height: 40px;
  background-color: #f26419;
  color: white;
  font-size: 16px;
  font-weight: 300;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.registration_btn:hover {
  color: #f26419;
  background-color: white;
}
.span_check_password {
  text-align: center;
  color: white;
  font-size: 16px;
  width: 300px;
  margin-top: -25px;
}
label {
  cursor: pointer;
  margin-left: 5px;
  width: 100px;
}
.input_account {
  margin-top: -25px;
}
.input_account a {
  padding-left: 10px;
  color: #86bbd8;
}

/* profile */
.content_profile {
  margin-top: 100px;
  margin-bottom: 200px;
  display: flex;
  width: 89.27%;
}
.profile_block_left {
  width: 30%;
  background-color: #f26419;
  border-radius: 10px 0 0 10px;
  height: 77%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.ava_img {
  margin-top: 7%;
}
.name_profile {
  margin-top: 1.7%;
  font-size: 40px;
  color: white;
  font-weight: 600;
}
.exit_profile {
  margin-top: 1.7%;
  border-radius: 10px;
  background-color: red;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  width: 156px;
  height: 40px;
  border: none;
  cursor: pointer;
}
.exit_profile:hover {
  background-color: #fff;
  color: red;
}
.exit_profile:active {
  background-color: #535050;
}
.img_profile_card {
  margin-top: 22.1%;
}
.status_discount_card {
  font-size: 40px;
  color: white;
  font-weight: 600;
  margin-bottom: 66px;
}

.profile_block_right {
  width: 70%;
  background-color: #f6ae2d;
  border-radius: 0 10px 10px 0;
  height: 77%;
}
.profile_block_right p {
  font-size: 50px;
  color: black;
  font-weight: 400;
  margin-top: 77px;
}
.title_info_profile {
  margin-left: 4.2%;
}
hr {
  width: 91.66%;
  border: 1px solid black;
  margin-top: 2.15%;
}
.user_info {
  display: flex;
  margin-left: 4.2%;
}
.usermail {
  margin-left: 0px;
}
.usermail_email {
  font-size: 40px;
  color: #545454;
  font-weight: 600;
  margin-top: 3.27%;
}
.usernumber_phone {
  font-size: 40px;
  color: #545454;
  font-weight: 600;
  margin-top: 3.27%;
}

.order_profile {
  display: flex;
  margin-top: 5%;
  margin-bottom: 1.3%;
}
.order_profile a:hover {
  transform: scale(1.05);
}

/* category */
.heading_text_category {
  margin-top: 100px;
  color: #ffffff;
  font-weight: bold;
  font-size: 120px;
  text-transform: uppercase;
}
.content_category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  max-width: 1200px; /* Максимальная ширина контейнера */
  margin: 0 auto; /* Центрирование контейнера */
  margin-top: 100px;
}

.block_category {
  max-width: 300px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: left;
  overflow: hidden;
}

.block_category_description {
  margin-top: 10px;
  color: #86bbd8;
  font-size: 20px;
  font-weight: 500;
  max-height: 60px; /* Set a maximum height for the description */
  overflow: hidden; /* Hide overflowing content */
}

.read-more-link {
  color: #f26419;
  text-decoration: underline;
  cursor: pointer;
  display: none; /* Initially hide the "Read More" link */
}

.read-more-link.active {
  display: contents; /* Display the "Read More" link when active */
}

.block_category img {
  width: 300px;
  height: 300px;
  object-fit: cover; /* Чтобы изображение сохраняло пропорции и занимало всю площадь блока */
  border-radius: 10px;
}
.block_category_count {
  margin-top: 10px;
  color: #f26419;
  font-size: 24px;
  font-weight: bold;
  margin-left: 0;
}
.block_category_name {
  color: #86bbd8;
  font-size: 24px;
  font-weight: bold;
  margin-left: 0;
  white-space: nowrap; /* Запрет на перенос текста на новую строку */
  overflow: hidden; /* Скрытие части текста, выходящей за границы блока */
  text-overflow: ellipsis; /* Замена скрытой части текста на многоточие */
}
.quantity_category {
  width: 50px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #fff;
  font-size: 17px;
  margin-left: 5px;
  background-color: #141414;
  color: #f26419;
  text-align: center;
}

.block_category_btn {
  width: 100%;
  height: 44px;
  background-color: #86bbd8;
  color: black;
  font-size: 24px;
  font-weight: bold;
  border: none;
  margin-top: 8px;
  border-radius: 10px;
  cursor: pointer;
}
.block_category_btn:hover {
  background-color: #f26419;
  color: white;
}

/* reviews */
.content_reviews {
  margin-top: 100px;
  max-width: 1500px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.rewiews_block {
  width: 500px;
  min-height: 350px;
  background-color: #0d0d0d;
  border-radius: 10px;
  margin-bottom: 160px;
  margin-right: 40px;
}
.name_block {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name_name_block {
  color: #f26419;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}
.estimation_name_block {
  font-size: 32px;
  color: #86bbd8;
  font-weight: bold;
  margin: 0;
}
.rewiew_text {
  font-size: 32px;
  color: #f6ae2d;
  font-weight: 300;
  margin-top: 34px;
  margin-left: 17px;
}
.write_rewiew {
  width: 100%;
  background-color: #f6ae2d;
  height: 600px;
}
.write_rewiew {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.title_write_rewiew {
  color: black;
  font-size: 60px;
  font-weight: bold;
  margin-top: 38px;
}
.write_rewiew_estimation {
  display: inline-flex;
  margin-top: 38px;
}
.write_rewiew_estimation p {
  color: black;
  font-size: 32px;
  font-weight: bold;
}
.write_rewiew_estimation select {
  font-size: 25px;
  margin-left: 44px;
  border-radius: 10px;
  width: 75px;
  height: 50px;
  padding-left: 20px;
}
.input_rewiew {
  width: 42%;
  height: 43%;
  margin-top: 25px;
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
}
.submit_rewiew {
  width: 44.5%;
  height: 78px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}
.submit_rewiew:hover {
  background-color: #fff;
  color: black;
}

/* basket */
.content_basket {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price_basket {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.price_basket p {
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  margin-right: 20px;
}

.price_basket span {
  font-size: 60px;
  font-weight: bold;
  color: #f26419;
}

.basket_cart {
  width: 80%;
  background-color: #0d0d0d;
  border-radius: 10px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.basket_cart_img {
  border-radius: 10px;
  width: 300px;
  height: 300px;
  margin-left: 20px; /* Отступ слева */
}

.info_basket_cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 20px;
  flex: 1;
}

.quantity_basket_cart {
  width: 76px;
  height: 40px;
  text-align: center;
  border-radius: 10px;
  border: none;
  font-size: 24px;
  font-weight: bold;
}

.nametovar_basket {
  font-size: 20px;
  font-weight: bold;
  color: #86bbd8;
  max-width: 360px;
}

.fullprice_tovar {
  font-size: 30px;
  font-weight: bold;
  color: #f26419;
}

.delete_button {
  background: url(img/delete_btn.svg) no-repeat;
  width: 48px;
  height: 48px;
  border: none;
  cursor: pointer;
}

.submit_order_btn {
  margin-top: 20px;
  width: 100vh;
  height: 60px;
  margin-bottom: 100px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  color: black;
  background-color: #86bbd8;
  font-size: 20px;
  font-weight: bold;
}
.submit_order_btn:hover {
  color: #86bbd8;
  background-color: black;
}
